[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "public2"]
	path = public2
	url = https://github.com/mrnp95/mrnp95.github.io.git
	branch = master
[submodule "themes/toha"]
	path = themes/toha
	url = https://github.com/hossainemruz/toha.git
